html {
	font-family: "Open Sans", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  background-color: #CBE8F0;
  justify-content: space-between;
  margin: 0px 50px;
}

.column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 100%;
  padding: 20px 20px;
  flex: 1;
}

a {
	width: auto;
}

h2 {
	margin: 0px 20px;
}

h1 {
	margin-left: 20px;
}

h1, h2, h3 {
	color:#313639; /* off black */ ;
}

code {
	background-color: #e5e5e5;
	padding: 10px 30px;
}

.offBlack-swatch	{
	background-color: #313639;
	}

#offBlack-swatch {
	color:white;
	}

.white-swatch {
	background-color: white;
	}

.blue-swatch {
	background-color: #d0fefc;
	}

#continue-button {
	text-decoration: none;
	padding: 20px 20px;
	background-color: #d0fefc ;
}

